src/basics/basics.aux
src/basics/basics.fdb_latexmk
src/basics/basics.fls
src/basics/basics.log
src/basics/basics.pdf
src/basics/basics.synctex.gz
src/basics/basics.toc
src/basics/basics.out
src/basics/basics.bbl
src/basics/basics.blg
